body {
  background-color: #071022;
}

#p1 {
  color: lightgrey;;
}

#main_text {
  background-color: #172136;  
}

#main_words_box {
  background-color: #172136;  
}


#new_text{
  background-color: #172136;
}
#tt_button {
  background-color: #071022;
  color: #cbd9f4;;
}

#select_button {
  color: #cbd9f4;;
}

#delete_button {
  background-color: #071022;
  color: #cbd9f4;;
}

.link-buttons {
  background-color: #071022;
  color: #c71f1f;
}

.link-buttons:hover, .deletion_button:hover {
  background-color: #040a16;
  color: red;
}

#lang_button {
  background-color: #071022;
  color: #cbd9f4;

}

#textselect, #langselect, #subtitle_select {
  background-color: /* #172136; */ #071022;
  color: #cbd9f4;
} 

#newtext {
  background-color: #071022;
  color: #cbd9f4;
}

#text_title {
  background-color: #071022;
  color: #cbd9f4;
}

.submit_btn {
  background-color: #071022;
  color: #cbd9f4;
}


.submit_btn:hover {
 
  background-color: #040a16;
}

.deletion_button {
  background-color: #071022;
  color: #c71f1f;
}




#title {
  color: rgb(255 115 205);
}

#loadingbutton {
  background-color: #071022;
  color: #cbd9f4;
}

.pageno:hover {
  color: rgb(0 255 186);
}
.current_pageno {
  color: rgb(0 255 186);
  border-bottom: 2px solid rgb(0 255 186);
}
 /*-------------------------tooltip_prevs.css----------------------------*/
.tooltip {
color: #cbd9f4;
}
.tooltip[data-auto_tagged="1"] {
  color: rgb(241 222 105);
}

.tooltip:hover {
  color: rgb(255 115 205);
}

.multiword {
  border-bottom: 2px dotted rgb(0 255 186 / 50%);
}


.lemma_set, .lemma_set_unexplicit {
  color: rgb(0 255 186);
}
.lemma_set:hover, .lemma_set_unexplicit:hover {
  color: rgb(0 255 34);
}

.tooltip_selected {
  color: rgb(255 115 205);
  border-bottom: 2px solid rgb(23, 33, 54, 0);
}
.mw_selectable:hover {
  border-bottom: 2px solid rgb(0 255 186);
}
.mw_current_select {
  border-bottom: 2px solid rgb(0 255 186);
}



#editbtn {
  color: rgb(0, 255, 34);
  border: 1px solid rgb(0, 255, 34);
}

#delbtn {
  color: red;
  border: 1px solid red;
}


.tooltip_opt {
  background-color: #071022;
  color: #cbd9f4;
  background-color: #172136;
}

.tooltip_opt:hover {
  background-color: #040a16;
} 
  
#toplinks-flexbox {
  background-color: #172136;
  color: #cbd9f4a6;
}
.toplink-buttons {
  background-color: #172136;
}
.toplink-buttons.current {
  background-color: #040a16;
  color: #cbd9f4;
}
.toplink-buttons:hover {
  background-color: #071022;
  color: #cbd9f4d3;
}
.toplink-buttons.current:hover {
  background-color: #040a16;
  color: #cbd9f4;
}
.toplinks-ahref  {
  color: #cbd9f4a6;
}

#theme_switcher {
  background-color: #040a16;
  color: #cbd9f4;
}
#theme_switcher:hover {
  background-color: #040a16;
}

#edit-letter {
  border-right: 1px solid #172136;
}
@keyframes cursor-flash {
  50% { border-right: 1px solid red; }
  100% { border-right: inherit; }
}
.edit-displayWord {
  border-left: 1px solid #172136;
  border-right: 1px solid #172136;
  border-bottom: 2px dotted red;
  /*animation: border-flash 0.9s steps(1, jump-start) infinite;*/
}
@keyframes border-left-flash {
  50% { 
    border-left: 1px solid red;
  }
  100% { 
    border-left: 1px solid #172136;
  }
}

.pulsate {
  animation: burn_orange 1s infinite;
}
@keyframes burn_orange {
  50% { color: rgb(0 255 186); }
  /* 100% { color: #cbd9f4; } */
  100% { color: white; }
}

.flash_pink {
  animation: burn_pink 1s infinite;
}
@keyframes burn_pink {
  50% { color: rgb(255 115 205); }
  100% { color: #cbd9f4; }
}

.annotation_mode {
  background-color: #181f2e;
  color: #cbd9f4;
}
.annotation_mode.active {
  background-color: #071022;
}

.tooltip.converted {
  color: white;
}
.tooltip.converted:hover {
  color: rgb(255 115 205);;
}

#gorazd_box {
  background-color: #071022;
}
#viewboxcontent {
  scrollbar-color: #040a16 #172136;
  color: #cbd9f4;
}
.sjs span[aip-type="la_preklad"],
.sjs span[aip-type="el_preklad"],
.sjs span[aip-type="ru_preklad"]{
    color: yellow;
}
.snsp span[aip-type="latina"],
.snsp span[aip-type="rectina"],
.snsp span[aip-type="rustina"],
.snsp span[aip-type="anglictina"],
.snsp span[aip-type="cestina"]{
    color: yellow;
}
.rsi span[aip-type="odkaz"],
.snsp span[aip-type="odkaz"],
.sjs span[aip-type="odkaz"]{
  color: #cbd9f4;
}
span[aip-type="odkaz"]:hover{
  color: cyan;
}

#gorazd_topbar {
  background-color: #040a16;
}
#gorazd_bottombar {
  background-color: #040a16;
}
#gorazd_minimise {

  background-color: inherit;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#gorazd_minimise:hover {
  background-color: #172136;
}
#gorazd_minimise:hover #minimise{
  background-color: #cbd9f4;
}
#gorazd_close {
  background-color: inherit;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#gorazd_close:hover{
  background-color: #172136;
}
.dict_type {
  color: #cbd9f47c;
  background-color: #172136;
}
.dict_type.available:hover {
  background-color: #071022;
  cursor: pointer;
}
.dict_type.active{
  color: #cbd9f4;
  background-color: #071022;
}

#dict_hidden_box, #gorazd_hidden_box {
  background-color: #040a16;
  color: #cbd9f4a6;
}
#dict_hidden_box:hover, #gorazd_hidden_box:hover {
  color: #cbd9f4;
}
#gorazd_searchbox { 
  background-color:#071022;
  color: #cbd9f4;
  border: 1px solid #040a16;
}
#gorazd_searchbox:focus {
  border: 1px solid black;
}
#gorazd_letter_button_box.letter_button_box {
  border: 1px solid black;
  background-color: #040a16;
}
#gorazd_letter_button_box .letter_button {
  border: 1px solid black;
  background-color:#071022;
  color: #cbd9f4a6;
}
#gorazd_letter_button_box .letter_button:hover {
  border: 1px solid #cbd9f4;
  color: #cbd9f4;
}

#lcs_lemma_searchbox {
  background-color: #040a16;
  color: #cbd9f4;
}
#random_lemma_btn{
  color: #cbd9f4;
  background-color: #071022;
}
#random_lemma_btn:hover {
  background-color: #040a16;
}
.switch_button {
  background-color: #040a16;
}
.switch_button_middle {
  background-color: #cbd9f489;
}
#infl_toggle_box.active .switch_button .switch_button_middle {
  background-color: #cbd9f4;
}
.switch_label {
  color: #cbd9f4;
}
#search_candidates_box {
  color: #cbd9f4;
  background-color: #071022;
}
.search_candidate:hover {
  background-color: black;
}
.search_candidate.keyboard_selected{
  background-color: black;
}
.infl-grid {
  color:#cbd9f4;
  background-color: #071022;
}
th.infl_titles {
  background-color: #040a16;
}

#pagenos {
  background-color: #040a16;
}
#pageno_box {
  color: #cbd9f4;
  background-color:#071022;
}
#pageno_box:focus {
  background-color: black;
}
.pageno_text {
  color: #cbd9f4a6;
  background-color: #071022;
}
.nav_arrow {
  color: grey;
}
.nav_arrow:hover {
  background-color:#172136;
  color: white;
}

/*main page tooltips*/

.tooltip .lemma_tt, .tooltip_selected .lemma_tt, .tooltip .mw_tt, .tooltip_selected .mw_tt {
  background-color: #071022;
  color: #cbd9f4;
}

#lemma_tag_tt {
  background-color: #040a16;
}

#tt_meaning {
  background-color: #040a16;
}

#pos_tag_verb_tt {
  background-color: #4dac0d;
}

#pos_tag_adj_tt {
  background-color: #fc7f03;
}

#pos_tag_noun_tt {
  background-color: #9cac0d;
}

#pos_tag_adverb_tt {
  background-color: #e32f1a;
}

#pos_tag_prep_tt {
  background-color: #0d9cac;
}

#pos_tag_conj_tt {
  background-color: #0dac62;
}

#pos_tag_part_tt {
  background-color: #ac0d9c;
}
#pos_tag_ques_tt {
  background-color: hsl(345, 100%, 70%);
}

/*********************MAIN PAGE SEARCH**********************/

#dict_topbar {
  background-color: #040a16;
}

#dict_minimise, #dict_close {
  background-color: inherit;
}
#dict_minimise:hover, #dict_close:hover {
  background-color: #172136;
}

.search_type {
  background-color: #172136;
  color: #cbd9f47c;
}
.search_type.active {
  color: #cbd9f4;
  background-color: #071022;
}
.search_type:hover {
  background-color: #071022;
}

.scope_heading {
  background-color: #172136;
  color: #cbd9f47c;
}
.scope_heading.active {
  background-color: #071022;
  color: #cbd9fd;
}
.scope_heading:hover {
  color: #cbd9f4;
}

#dict_body {
  scrollbar-color: #040a16 #172136;
}
#dict_body::-webkit-scrollbar-thumb {
  background-color: #040a16;
}
#dict_body::-webkit-scrollbar-track {
  background-color: #172136;
}
.dict_row {
  background-color: #071022;
  color: #cbd9f4;
}
.dict_row:nth-child(even) {
  background-color: #040a16;
}
.dict_row.header {
  background-color: #040a16;
}
.result_word {
  color: #ffc100;
}
.dict_cell.empty_results {
  color: #cbd9f47c;
}
.search_link:hover {
  color: white;
}

#dict_bottombar {
  background-color: #040a16;
}
.letter_button_box {
  scrollbar-color: #040a16 #071022;
  background-color: #040a16;
  border: 1px solid black;
}
.letter_button {
  background-color:#071022;
  color: #cbd9f4a6;
}
.letter_button:hover {
  border: 1px solid #cbd9f4;
  color: #cbd9f4;
}
.quicksearch_option_box_label {
  color: #cbd9f4;
}
.quicksearch_option_checkbox {
  opacity: 0.8;
}
#dict_searchbox {
  color: #cbd9f4;
  background-color:#071022;
  border: 2px solid #040a16;
}
#dict_searchbox:focus {
  border: 2px solid black;
}
.search_button {
  fill: #cbd9f487;
}
.search_button:hover {
  fill: #cbd9f4;
}