#dict_hidden_box {
    display: none;
}

#dict_outline {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    width: 400px;
    max-height: 80%;
  
    position: fixed;
    bottom: 0px;
    right: 4%;
    z-index: 2;

    right: 50%;
    transform: translateX(50%);
    
}

#dict_topbar {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    height: 30px;
    min-height: 30px;
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #040a16;
}
#dict_bottombar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  

    box-sizing: border-box;
    height: 60px;
    min-height: 60px; /*looks redundant but without it the bar shrinks to 57 when the results pop up, fuck knows why */
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #040a16;
    padding: 4px;
}

#dict_searchbox {
    width: 60%;
    height: 73%;

    padding: 4px;
    outline: none;
    overflow: hidden;
    resize: none;
    border-radius: 5px;
    border: 2px solid #040a16;
    box-sizing: border-box;

    color: #cbd9f4;
    font-family: IBM_Plex_Sans;
    font-size: 13px;
    background-color:#071022;
}
#dict_searchbox:focus {
    border: 2px solid black;
}

#dict_body {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    overflow-y: auto;

    /*firefox*/
    scrollbar-color: #040a16 #172136;
    scrollbar-width: 9px;
}

#dict_body::-webkit-scrollbar {
    width: 9px;
}
#dict_body::-webkit-scrollbar-thumb {
    background-color: #040a16;
    border-right: 2px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

#dict_body::-webkit-scrollbar-track {
    background-color: #172136;
    border-right: 2px solid black;
}

.dict_row {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
   
    color: #cbd9f4;
    font-family: IBM_Plex_Sans;
    font-size: 13px;
    background-color: #071022;
    border-bottom: 1px solid black;
}
.dict_row:nth-child(even) {
    background-color: #040a16;
}
.dict_row:first-child {
    border-top: 1px solid black;
}


.dict_cell {
    
    /*height: inherit; */
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    word-break: break-word;
}



.dict_cell.left {
    border-left: 2px solid black;
    border-right: 1px solid black;
}
.dict_cell.right {
    border-left: 1px solid black;
    border-right: 2px solid black;
}

.dict_cell.Wk {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.dict_cell.dict_pos {
    background-color: #172136;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.wiki_pos {
    font-size: 12px;
    font-weight: normal;
}
.PONS_title_info {
    font-weight: normal;
    color: rgb(230, 230, 230);
    font-size: 12px;
}

#dict_logo {    
    height: 80%;
    width: 36.71px;
    border-radius: 5px;
    user-select: none;

    opacity: 70%;
}
#dict_logo:hover {
    opacity: 100%;
}

#dict_minimise {
    height: 76%;
    width: 11%;
    background-color: inherit;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dict_minimise:hover {
    background-color: #172136;
}
#dict_minimise:hover #minimise{
    background-color: #cbd9f4;
}

#minimise {
    background-color: rgb(141 147 157);
    height: 16%;
    width: 46%;
}

#dict_select {
    display: flex;
    flex-flow: column-reverse nowrap;
    background-color: #040a16;
    overflow-y: auto;
    max-height: 200px;
    height: fit-content;
    width: 94px;
    position: absolute;
    bottom: 60px;
    right: 0;
    border-right: 2px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 5px;
}
#dict_select::-webkit-scrollbar {
    width: 0px;
}

.dict_name {
    border-top: 1px solid black;
    color: #cbd9f4;
    padding: 4px;
    font-size: 14px;
    font-family: Calibri;
    text-align: center;
    user-select: none;
    cursor: default;
}
.dict_name:hover {
    background-color: #172136;
    color: white;
}
.dict_name:first-child {
    border-bottom: 1px solid black;
}
.dict_name:last-child {
    border-top-left-radius: 5px;
}

/* sozdik.kz */

.dict_cell.sozdik_title {
    background-color: #172136;
    font-weight: normal;
    font-size: 17px;
    font-family: Calibri;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

abbr {
    font-weight: normal;
    font-style: italic;
}

.ru_clickable {
    color: cyan;
}
.kaz_clickable {
    color: #ffca00;
    cursor: pointer;
}
.kaz_clickable:hover {
    color:#fbff00;
}

.dict_cell.sozdik_synonyms {
    background-color: #172136;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

em {
    font-weight: bold;
}
.MR_grammar {
    font-size: 13px;
    font-weight: normal;
}
.MR_link {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
}
.MR_clickable {
    cursor: pointer;
    text-decoration: underline;
}
.MR_clickable:hover {
    color: cyan;
}

.ddo_speaker {
    cursor: pointer;
    vertical-align: middle;
}
.ddo_header {
    color: #cbd9f4;
    font-family: 'IBM_Plex_Sans';
    font-size: 13px;
    background-color: #071022;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.ordform {
    font-style: italic;
}
.ddo_header_grammar, .ddo_topline_grammar {
    color: #cbd9f4ab;
}
.stempel {
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    background-color: #9cc5dd;
    border: 1px solid #333333;
    font-size: 11px;
    letter-spacing: 0.1em;
    padding-right: 0.2em;
    padding-left: 0.3em;
    margin: 0 0.6em 0 0;
 
}