body {
  background-color: #f0c36dbd;
}

#p1 {
  color: black;;
}

#main_text {
  background-color: white;  
}
#main_words_box {
  background-color: white;  
}

#new_text{
  background-color: #f0c36dbd;
}
#tt_button {
  background-color: #f0c36dbd;
  color: black;;
}

#select_button {
  background-color: #f0c36dbd;
  color: black;;
}

#delete_button {
  background-color: #f0c36dbd;
  color: black;;
}

.link-buttons {
  background-color: #f0c36dbd;
  color: #c71f1f;
}

.link-buttons:hover, .deletion_button:hover {
  background-color: #d59110;
  color: red;
}

#lang_button {
  background-color: #f0c36dbd;
  color: black;

}

#textselect, #langselect, #subtitle_select {
  background-color: /* #f0c36dbd; */ #f0c36dbd;
  color: black;
} 

#newtext {
  background-color: #f0c36dbd;
  color: black;
}

#text_title {
  background-color: #d59110;
  color: black;
}

.submit_btn {
  background-color: #f0c36dbd;
  color: black;
}


.submit_btn:hover {
 
  background-color: #d59110;
}

.deletion_button {
  background-color: #f0c36dbd;
  color: #c71f1f;
}




#title {
  color: black;
}

#loadingbutton {
  background-color: #f0c36dbd;
  color: black;
}

.pageno:hover {
  color: rgb(0 255 186);
}
.current_pageno {
  color: rgb(0 255 186);
  border-bottom: 2px solid rgb(0 255 186);
}
 /*-------------------------tooltip_prevs.css----------------------------*/
.tooltip {
color: #670202;
}
.tooltip[data-auto_tagged="1"] {
  color: rgb(91 0 110);
}

.tooltip:hover {
  color: red;
}

.multiword {
  border-bottom: 2px dotted rgb(0 255 186 / 50%);
}


.lemma_set, .lemma_set_unexplicit {
  color: rgb(0 255 186);
}
.lemma_set:hover, .lemma_set_unexplicit:hover {
  color: rgb(0 255 34);
}

.tooltip_selected {
  color: rgb(255 115 205);
  border-bottom: 2px solid rgb(23, 33, 54, 0);
}
.mw_selectable:hover {
  border-bottom: 2px solid rgb(0 255 186);
}
.mw_current_select {
  border-bottom: 2px solid rgb(0 255 186);
}



#editbtn {
  color: rgb(0, 255, 34);
  border: 1px solid rgb(0, 255, 34);
}

#delbtn {
  color: red;
  border: 1px solid red;
}


.tooltip_opt {
  background-color: #d59110;
  color: black;
  background-color: #f0c36dbd;
}

.tooltip_opt:hover {
  background-color: #ac7000;
} 
  
#toplinks-flexbox {
  background-color: #f0c36dbd;
  color: #cbd9f4a6;
}
.toplink-buttons {
  background-color: #f0c36dbd;
}
.toplink-buttons.current {
  background-color: #f1ad2e;
  color: black;
}
.toplink-buttons:hover {
  background-color: #f1ad2e;
  color: black;
}
.toplink-buttons.current:hover {
  background-color: #f1ad2e;
  color: black;
}
.toplinks-ahref  {
  color: black;
}

#theme_switcher {
  background-color: #f1ad2e;
  color: black;
}
#theme_switcher:hover {
  background-color: #f1ad2e;
}

#edit-letter {
  border-right: 1px solid #f0c36dbd;
}
@keyframes cursor-flash {
  /*50% { color: black;; }
  100% { color: inherit; } */
  50% { border-right: 1px solid red; }
  100% { border-right: inherit; }
}
.edit-displayWord {
  border-left: 1px solid #f0c36dbd;
  border-right: 1px solid #f0c36dbd;
  border-bottom: 2px dotted red;
  /*animation: border-flash 0.9s steps(1, jump-start) infinite;*/
}
@keyframes border-left-flash {
  50% { 
    border-left: 1px solid red;
  }
  100% { 
    border-left: 1px solid #f0c36dbd;
  }
}

.pulsate {
  animation: burn_orange 1s infinite;
}
@keyframes burn_orange {
  50% { color: orange; }
  100% { color: #670202; }
}

.flash_pink {
  animation: burn_pink 1s infinite;
}
@keyframes burn_pink {
  50% { color: rgb(255 115 205); }
  100% { color: #670202; }
}

.annotation_mode {
  background-color: #f0c36dbd;
  color: black;
}
.annotation_mode.active {
  background-color: #f1ad2e;
}

.tooltip.converted {
  color: black;
}
.tooltip.converted:hover {
  color: red;
}

#gorazd_box {
  background-color: white;
}
#viewboxcontent {
  color: black;
  scrollbar-color: #f0c36d white;
}
.sjs span[aip-type="la_preklad"],
.sjs span[aip-type="el_preklad"],
.sjs span[aip-type="ru_preklad"]{
    color: red;
}
.snsp span[aip-type="latina"],
.snsp span[aip-type="rectina"],
.snsp span[aip-type="rustina"],
.snsp span[aip-type="anglictina"],
.snsp span[aip-type="cestina"]{
    color: red;
}
.rsi span[aip-type="odkaz"],
.snsp span[aip-type="odkaz"],
.sjs span[aip-type="odkaz"]{
  color: black;
}
span[aip-type="odkaz"]:hover{
  color: red;
}

#gorazd_topbar {
  background-color: #f0c36d;
}
#gorazd_bottombar {
  background-color: #f0c36d;
}
#gorazd_minimise {

  background-color: inherit;
  border-right: 1px solid inherit;
  border-bottom: 1px solid inherit;
}
#gorazd_minimise:hover {
  background-color: #f1ad2e;
}
#gorazd_minimise:hover #minimise{
  background-color: #cbd9f4;
}
#gorazd_close {
  background-color: inherit;
  border-right: 1px solid inherit;
  border-bottom: 1px solid inherit;
}
#gorazd_close:hover{
  background-color: #f1ad2e;
}
.dict_type {
  color: grey;
  background-color: #f8e5be;
}
.dict_type.available:hover {
  color: black;
  cursor: pointer;
}
.dict_type.active{
  color: black;
  background-color: #f1ad2e;
}
.dict_type.active:hover{
  color: black;
  background-color: #f1ad2e;
}
#gorazd_searchbox { 
  background-color:white;
  color: black;
}

#dict_hidden_box, #gorazd_hidden_box {
  background-color: #f0c36d;
  border-left: 1px solid #353535;
  border-top: 1px solid #353535;
  border-right: 1px solid #353535;
  color: #353535;
}
#dict_hidden_box:hover, #gorazd_hidden_box:hover {
  background-color: #f1ad2e;
  color: black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#gorazd_searchbox:focus {
  border: 1px solid black;
}
#gorazd_letter_button_box.letter_button_box {
  border: 1px solid #f0c36d;
  background-color: #f0c36d;
}
#gorazd_letter_button_box .letter_button {
  border: 1px solid #353535;
  background-color: white;
  color: #353535;
}
#gorazd_letter_button_box .letter_button:hover {
  border: 1px solid black;
  background-color: #f1ad2e;
  color: black;
}
#gorazd_search_button {
  fill: black
}
#gorazd_search_button:hover {
  fill: white;
}

#lcs_lemma_searchbox {
  background-color: #f0c36dbd;
  color: black;
}
#random_lemma_btn{
  color: black;
  background-color: #f0c36d;
}
#random_lemma_btn:hover {
  background-color: #f1ad2e;
  /* background-color: #f0c36d; */
}
.switch_button {
  background-color: #f0c36d;
}
.switch_button_middle {
  background-color: #00000089;
}
#infl_toggle_box.active .switch_button .switch_button_middle {
  background-color: black;
}
.switch_label {
  color: black;
}
#search_candidates_box {
  color: black;
  background-color: #f0c36d;
}
.search_candidate:hover {
  background-color: #f1ad2e;
}
.search_candidate.keyboard_selected{
  background-color: #f1ad2e;
}
.infl-grid {
  color: black;
  background-color: white;
}
th.infl_titles {
  background-color: #f0c36d;
}

#pagenos {
  background-color: #f0c36dbd;
}
#pageno_box {
  color: black;
  background-color: transparent;
}
#pageno_box:focus {
  background-color: #f1ad2e;
}
.pageno_text {
  color: #000000a6;
  /* background-color: #f0c36d; */
}
.nav_arrow {
  color: black;
  background-color:#f0c36d;
}
.nav_arrow:hover {
  background-color:#f1ad2e;
  color: black;
}

/*main page tooltips*/

.tooltip .lemma_tt, .tooltip_selected .lemma_tt, .tooltip .mw_tt, .tooltip_selected .mw_tt {
  background-color: #f1ad2e;
  color: black;
}

#lemma_tag_tt {
  background-color: wheat;
}

#tt_meaning {
  background-color: wheat;
}

#pos_tag_verb_tt {
  background-color: #66ff00;
}

#pos_tag_adj_tt {
  background-color: #fc7f03;
}

#pos_tag_noun_tt {
  background-color: #e5ff00;
}

#pos_tag_adverb_tt {
  background-color: #ff1900;
}

#pos_tag_prep_tt {
  background-color: #00e5ff;
}

#pos_tag_conj_tt {
  background-color: #00ff88;
}

#pos_tag_part_tt {
  background-color: #ff00e6;
}
#pos_tag_ques_tt {
  background-color: hsl(345, 100%, 70%);
}

/*********************MAIN PAGE SEARCH**********************/

#dict_topbar {
  background-color: #f1ad2e;
}

#dict_minimise, #dict_close {
  background-color: #f0c36d;
}
#dict_minimise:hover, #dict_close:hover {
  background-color: #f1ad2e;
}

.search_type {
  background-color: wheat;
  color: #0000009e;
}
.search_type.active {
  background-color: #f0c36d;
  color: black;
}
.search_type:hover {
  background-color: #f0c36d;
}

.scope_heading {
  background-color: wheat;
  color: #0000009e;
}
.scope_heading.active {
  background-color: #f0c36d;
  color: black;
}
.scope_heading:hover {
  color: black;
}

#dict_body {
  scrollbar-color: #f0c36d white;
}
#dict_body::-webkit-scrollbar-thumb {
  background-color: #f0c36d;
}
#dict_body::-webkit-scrollbar-track {
  background-color: white;
}
.dict_row {
  background-color: white;
  color: black;
}
.dict_row:nth-child(even) {
  background-color: wheat;
}
.dict_row.header {
  background-color: #f0c36d;
}
.result_word {
  color: #a20000;
}
.dict_cell.empty_results {
  color: black;
}
.search_link:hover {
  color: black;
}

#dict_bottombar {
  background-color: #f1ad2e;
}
.letter_button_box {
  scrollbar-color: #f0c36d white;
  background-color: #f1ad2e;
  border: 1px solid #f1ad2e;
}
.letter_button {
  background-color: white;
  color: black;
}
.letter_button:hover {
  background-color: #f1ad2e;
}
.quicksearch_option_box_label {
  color: black;
}
.quicksearch_option_checkbox {
  opacity: 1;
}
#dict_searchbox {
  color: black;
  background-color: white;
  border: 2px solid #0000009e;
}
#dict_searchbox:focus {
  border: 2px solid black;
}
.search_button {
  fill: #0000009e;
}
.search_button:hover {
  fill: black;
}

/*gorazd_results.css old-browser scrollbar*/
#viewboxcontent::-webkit-scrollbar-thumb {
  background-color: #f0c36d;
}
#viewboxcontent::-webkit-scrollbar-track {
  background: white;
}