@font-face { font-family: LiberationSerif; src: local('Liberation Serif, Regular') ,url('LiberationSerif-Regular.ttf'); }
@font-face {font-family: Bookerly; src: local('Bookerly') ,url('Bookerly.ttf'); }
@font-face {font-family: PT_Serif; src: local('PT Serif'), url('PTSerif-Regular.ttf'); }
@font-face {font-family: IBM_Plex_Sans; src: local('IBM Plex Sans'), url('IBMPlexSans-Regular.ttf'); }
@font-face {font-family: Calibri; src: local('Calibri'), url('calibri.ttf'); }

html {
  overflow-y: scroll; /* makes sure vertical scrollbar is always present to prevent horizontal movement*/
}

a {
    text-decoration: none;
    color: #cbd9f4a6;
}
body {
  margin: 8px;
}
#main_box {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    margin-bottom: 60px;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
#main_words_box {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    background-color: #172136;
    padding: 10px;
    height: fit-content;
    min-height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

#toplinks-flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  font-family: IBM_PLEX_SANS;
  /* background-color: #172136;
  color: #cbd9f4a6; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid black;
}
#texts_link {
  border-top-left-radius: 5px;
}
.toplink-buttons {
  font-size: 17px;
  width: fit-content;
  max-width: 97%;
  padding: 4px;
  user-select: none;
  min-width: 80px;
  text-align: center;
  border-right: 1px solid black;
  cursor: pointer;
  /* background-color: #172136 */
}
.toplink-buttons.current {
  /* background-color: #040a16; */
  color: #cbd9f4;
}
.toplink-buttons:hover {
  /* background-color: #071022; */
  color: #cbd9f4d3;
}
.toplink-buttons.current:hover {
  /* background-color: #040a16; */
  color: #cbd9f4;
}
#topbar_placefiller {
  /* width: -webkit-fill-available; */
  width: 100%;
}
#theme_switcher {
  width: 20px;
  opacity: 85%;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  user-select: none;
  border-top-right-radius: 5px;
  border-left: 1px solid black;
  cursor: pointer;
}
#theme_switcher:hover{
  opacity: 100%;
}





