@font-face { font-family: LiberationSerif; src: local('Liberation Serif, Regular') ,url('LiberationSerif-Regular.ttf'); }
@font-face {font-family: Bookerly; src: local('Bookerly') ,url('Bookerly.ttf'); }
@font-face {font-family: PT_Serif; src: local('PT Serif'), url('PTSerif-Regular.ttf'); }
@font-face {font-family: IBM_Plex_Sans; src: local('IBM Plex Sans'), url('IBMPlexSans-Regular.ttf'); }
@font-face {font-family: Calibri; src: local('Calibri'), url('calibri.ttf'); }
@font-face {font-family: Bukyvede; src: local('Bukyvede') ,url('BukyVede-Regular.ttf'); }
@font-face {font-family: Monomakh; src: local('Monomakh') ,url('MonomakhUnicode.ttf'); }

html {
  overflow-y: scroll; /* makes sure vertical scrollbar is always present to prevent horizontal movement*/
}

a {
    text-decoration: none;
    color: #cbd9f4a6;
}
  
#main_box {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    margin-left: 7.3%;
    margin-right: 7.3%;
    margin-bottom: 60px;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
#main_words_box {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    background-color: #172136;
    padding: 10px;
    height: fit-content;
    min-height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

#lang_button {
    background-color: #071022;
   /* border-style: solid; */
    border-radius: 2px;
    padding: 6px; 
    z-index: 1;
    color: #cbd9f4;
    font-family: Calibri;
    font-size: 18px; 
}

#loadingbutton {
  position: fixed;
  left: 0;
  bottom: 0;

  background-color: #071022;
  border-style: solid;
  border-radius: 2px;
  padding: 6px; 
  z-index: 1;
  color: #cbd9f4;
  font-family: Calibri;
  font-size: 47px;

}
  
#textselect, #langselect {
    background-color: /* #172136; */ #071022;
   /* border-style: solid;
    border-radius: 2px; 
    padding: 3px;  */
    z-index: 1;
    color: #cbd9f4;
    font-family: Calibri;
    font-size: 18px;
    min-width: 100px;
    max-width: 100%;
} 
  
#hidden_select {
    visibility: hidden; position: fixed; font-family: Calibri; font-size: 18px;
}

#toplinks-flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-family: Calibri;
  background-color: #172136;
  color: #cbd9f4a6;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid black;
}
#texts_link {
  border-top-left-radius: 5px;
}
.toplink-buttons {
  font-size: 21px;
  width: fit-content;
  max-width: 97%;
  padding: 6px;
  user-select: none;
  min-width: 100px;
  text-align: center;
  border-right: 1px solid black;
  cursor: pointer;
  background-color: #172136
}
.toplink-buttons.current {
  background-color: #040a16;
  color: #cbd9f4;
}
.toplink-buttons:hover {
  background-color: #071022;
  color: #cbd9f4d3;
}
.toplink-buttons.current:hover {
  background-color: #040a16;
  color: #cbd9f4;
}

#pos_selectors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px;
  width: 80%;
}
.pos_sel {
  border: 2px solid black;
  border-radius: 7px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  min-width: 55px;
  user-select: none;
  color: black;
  font-family: IBM_Plex_Sans;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}
.pos_sel:hover {
  opacity: 1;
}
.pos_selected {
  opacity: 1;
}
.pos_sel.just_turned_off:hover {
  opacity: 0.4;
}
.verb {
  background-color: #4dac0d;
}
.adj {
  background-color: #c97119;
}
.noun {
  background-color: #9cac0d;
}
.adverb {
  background-color: #e32f1a;
}
.prep {
  background-color: #0d9cac;
}
.conj {
  background-color: #0dac62;
}
.part {
  background-color: #ac0d9c;
}
.ques {
  background-color: hsl(345, 100%, 70%);
}

#mw_selectors {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 10px;
  width: 80%;
}
.mw_sel {
  border: 2px solid black;
  border-radius: 7px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 55px;
  user-select: none;
  background-color: #181f2e;
  color: #cbd9f4;
  font-family: IBM_Plex_Sans;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
}
.mw_sel:hover {
  opacity: 1;
  background-color: #071022;
}
.mw_selected {
  opacity: 1;
  background-color: #071022;

}
.mw_sel.just_turned_off:hover {
  opacity: 0.6;
  background-color: #181f2e;
}

#words_body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: fit-content;
    width: 80%;
    min-width: 600px;
    margin-top: 10px;
}

#words_top {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: #040a16;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}


#left_top_header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 1px solid black;
  border-bottom: 4px solid black;
  border-top-left-radius: 15px;
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
}
#right_top_header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  border-top: 4px solid black;
  border-left: 1px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-top-right-radius: 15px;
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
}
#left_top_upper {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
#right_top_upper {
  display: flex;
  flex-flow: row-reverse nowrap;
  margin-bottom: 10px;
}
#lemma_searchbox {
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
  font-family: IBM_Plex_Sans;
  color: #cbd9f4;
  border-bottom-right-radius: 6px;
  padding: 5px;
  background-color: #071022;
  border: 2px solid black;
  border-left: none;
  border-top-left-radius: 13px;
  border-top: none;
  resize: none;

  max-width: 97%;
  width: 143px;
  height: 29px;
}
#meaning_searchbox {
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
  font-family: IBM_Plex_Sans;
  color: #cbd9f4;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 13px;
  padding: 5px;
  background-color: #071022;
  border: 2px solid black;
  border-right: none;
  border-top: none;
  resize: none;

  width: 143px;
  max-width: 97%;
  height: 29px;
}
#hidden_searchbox {
  display: block;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
  font-family: IBM_Plex_Sans;
  color: #cbd9f4;
  border-bottom-right-radius: 6px;
  padding: 5px;
  padding-right: 7px;
  background-color: #071022;
  border: 2px solid black;
  border-left: none;
  border-top: none;
  resize: none;

  visibility: hidden;
  width: fit-content;
  min-width: 143px;
  height: 35px;
}


#left_top_lower {
  color: #cbd9f4;
  text-align: center;
  font-family: Calibri;
  font-size: 18px;
  margin-bottom: 7px;
}
#right_top_lower {
  color: #cbd9f4;
  text-align: center;
  font-family: Calibri;
  font-size: 18px;
  margin-bottom: 7px;
}





.words_row {
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  
  color: #cbd9f4;
  background-color: #071022;
  border-bottom: 3px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}
.words_row:nth-child(even) {
  background-color: #040a16;
}
.words_row:last-child {
    border-bottom: 4px solid black;
}

.word_cell_left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  word-break: break-word;
  border-right: 1px solid black;
}
.word_cell_right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  width: 50%;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.word_cell_lemma {
  font-family: Bookerly;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  /*height: inherit; */   
}
.word_cell_meaning_strip {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;



  width: 100%;
  height: fit-content;
  font-family: IBM_Plex_Sans;
  font-size: 14px;
  word-break: break-word;
  box-sizing: border-box;
  flex-grow: 1;
  border-bottom: 1px solid black;
}
.meaning_text {
  padding: 5px;
}
.meaning_no_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 30px;
  min-width: 30px;
  border-right: 1px dotted black;
  cursor: default;
}

/*
.words_row:nth-child(even) .word_cell_meaning_strip:nth-child(even) {
  background-color: #040a16;

}
.words_row:nth-child(odd) .word_cell_meaning_strip:nth-child(even) {
  background-color: #071022;

} */

.word_cell_meaning_strip:last-child{
  border-bottom: none;
}

.pos_colour {
  height: 100%;
}

.left {
  width: 3%;
}
.right {
  width: 0%;
  visibility: hidden;
}

/*------------------------------OCS SERVER STUFF----------------------------------------------------*/
#verb-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-auto-flow: column;
  color:#cbd9f4;
  font-size: 23px;
  font-family: Bukyvede;
  column-gap: 3px;
  row-gap: 5px;
}
#noun-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  color:#cbd9f4;
  font-size: 23px;
  font-family: Bukyvede;
  column-gap: 3px;
}
.grid-child {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}
.infl_variants {
  font-size: 15px;
  opacity: 0.8;
}